.btn {
  margin-top: 2rem;
}

button {
  background-color: #14188f89;
  padding: 1rem;
  margin: 1rem;
  width: 100px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 10px black;
}
